footer{
    background-color: #A9907E;
    color: black;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}