<div class="container">
    <div class="cuadro">
        <div id="texto">
            <h2>Información Personal</h2>
            <hr>
            <div class="informacion">
                <p>
                    Hola, Soy Jennifer Hernández. Soy una estudiante apasionada por Sistemas Computacionales, y me
                    esfuerzo por mantenerme al día con las últimas tendencias y desarrollos en este campo.
                </p>
                <p>
                    Me considero una estudiante dedicada y trabajadora, y siempre busco oportunidades para mejorar mis
                    habilidades y conocimientos.
                </p>
                <p>
                    Soy una persona curiosa y creativa, y me gusta explorar diferentes enfoques para abordar los desafíos académicos.
                </p>
                <p>
                    Además de mi compromiso con mis estudios, también me involucro en la Sociedad de Alumnos, que me permiten desarrollar habilidades adicionales y ampliar mis horizontes.

                </p>
            </div>

        </div>

    </div>
</div>