<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News API</title>
    <link rel="stylesheet" href="/assets/estilos.css">
</head>
<body>
    <header>
        <form action="/buscar" method="get" style="height:100%">
           <input id="filtro" name="filtro" class="form-action" type="text"
                    placeholder="Inserta noticia a buscar"> 
            <button class="btn-success" type="submit">Buscar</button>
        </form>
    </header>
    <main>
        {{{body}}}
    </main>

</body>
</html>