<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/grid.css">


</head>
<body>
    <nav>
        <a href="/SobreMi">Sobre Mi</a>
        <a href="/Mascotas">Mascotas</a>
        <a href="/Hobbies">Hobbies</a>

    </nav>

    <main>

        <h1 style="margin-left: 50px;" id="Hobbies">Hobbies</h1>

        <div class="container">
            <div>
                <p style="margin-left: 20px;">Ver películas o series</p>
            </div>
            <div>
                <p style="margin-left: 20px;">Sacar a mis perros a pasear</p>
            </div>
            <div>
                <p style="margin-left: 20px;">Ir a desayunar con mis amigas</p>
            </div>
            <div>
                <p style="margin-left: 20px;">Dibujar o pintar</p>
            </div>
            <div>
                <p style="margin-left: 20px;">Ir al cine</p>
            </div>
        </div>

        <h1 style="margin-left: 50px;" id="Contacto">Contacto</h1>

        <div class="contacto">
            <p>jennifer.ariadna.hernández@gmail.com</p>
            <a href="https://github.com/hdzmtzjenni" target="_blank">
                <img id="git" src="/assets/img/git.png">
            </a>
            <a href="https://www.linkedin.com/in/jennifer-hern%C3%A1ndez-b74692216/" target="_blank">
                <img id="in" src="/assets/img/in.png">
            </a>
        </div>
    </main>
</body>
</html>