<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/grid.css">


</head>
<body>
    <nav>
        <a href="/SobreMi">Sobre Mi</a>
        <a href="/Mascotas">Mascotas</a>
        <a href="/Hobbies">Hobbies</a>
    </nav>

    <main>
        <h1 style="margin-left: 50px;" id="Mascotas">Mascotas</h1>

        <div class="container">
            <div>
                <div style="margin-left: 50px;" class="text">
                    <h2>Nia</h2>
                </div>
                <ul>
                    <li>Nia tiene 2 años</li>
                    <li>La tengo desde que tenia 2 meses</li>
                    <li>Es muy faldera</li>
                    <li>Hace muchos berrinches</li>
                    <li>Le gusta más estar sola o con algún humano</li>
                </ul>
                <img class="mascota" src="/assets/img/Nia.jpeg">
            </div>
            <div>
                <div style="margin-left: 50px;" class="text">
                    <h2>Milo</h2>
                </div>
                <ul>
                    <li>Lo rescate junto con su mamá Sol hace 1 año</li>
                    <li>Es un perrito de 1 año</li>
                    <li>Es muy juguetón</li>
                    <li>Estar solo le da mucha ansiedad</li>
                    <li>Es un perrito muy fiel </li>

                </ul>
                <img class="mascota" src="/assets/img/Milo.jpeg">
            </div>
            <div>
                <div style="margin-left: 50px;" class="text">
                    <h2>Sol</h2>
                </div>
                <ul>
                    <li>La rescate junto con su hijo Milo hace 1 año</li>
                    <li>Es una perrita de aproximadamente 2 años y medio</li>
                    <li>Le gusta mucho estar en el sol</li>
                    <li>Es muy cariñosa</li>
                </ul>
                <img class="mascota" src="/assets/img/Sol.jpeg">
            </div>
        </div>
    </main>
    
</body>
</html>