<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/grid.css">


</head>
<body>
    <nav>
        <a href="/SobreMi">Sobre Mi</a>
        <a href="/Mascotas">Mascotas</a>
        <a href="/Contacto">Hobbies</a>
    </nav>

    <main>
        <h1 style="margin-left: 50px;" id="SeccionPrin">Seccion Principal</h1>

        <section id="principal">
            <section id="info">
                <ul>
                    <li>Mi nombre completo es Jennifer Ariadna Hernández Martínez</li>
                    <li>Nací el 2 de agosto del 2002</li>
                    <li>Actualmente estoy estudiando la carrera de <abbr
                            title="Ingeniería en Sistemas Computacionales">ISC</abbr> en el ITESO</li>
                    <li>Tengo 3 mascotas (más abajo las presento)</li>
                    <li>Mi superhéroe favorito es Spiderman</li>
                    <li>Me gustan mucho las películas y las series</li>
                </ul>
            </section>
            <img id="Jenn" src="/assets/img/Jenn.jpeg">
        </section>
    </main>
</body>
</html>