html, body{
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3YxMTY2LWJhY2tncm91bmQtMTAteC5qcGc.jpghttps://thumbs.dreamstime.com/t/light-beige-old-paper-parchment-gradient-background-171067611.jpghttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHWv0pMHz_n2WroqrIUD_pKMJ7JkG15FNPNiPVcKrThCj8xFL30Sb2pdhjEpPXCan2tdo&usqp=CAUhttps://img.freepik.com/premium-vector/background-beige-gradient-vector_686681-34.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5EBEB;
}