<div class="container">
    <div class="cuadro">
        <div id="texto">
            <h2>Educación</h2>
            <hr>
            <div class="imagen">
                <img class="img"
                    src="https://oci02.img.iteso.mx/Identidades-De-Instancia/ITESO/Logos%20ITESO/Logo-ITESO-Principal-FondoAzul.png">
            </div>
            <div class="descripcion">
                <ul>
                    <li>
                        <p class="name">Carrera</p>Ingenieria en Sistemas Computacionales
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="name">Fecha estimada de graduación</p>Diciembre del 2024
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>