<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav id="navBar">
    <div id="Home">
        <a id="Jenn"routerLink="/"><i class="fa fa-home"></i> Jennifer Hernández</a>
    </div>
    <div id="routes">
        <a routerLink="/education"><i class="fa fa-book"></i> Educación</a>
        <a routerLink="/skills"><i class="fa fa-book"></i> Skills</a>
        <a routerLink="/projects"><i class="fa fa-cog"></i> Proyectos</a>
        <a routerLink="/contact"><i class="fa fa-address-card-o"></i> Contacto</a>
    </div>
    
</nav>