nav{
    background-color: #A9907E;
    display: flex;
    align-items: center;
    padding: 20px;

    #Home{
        font-weight: bold;
        width: 40%;

        #Jenn{
            text-decoration: none;
            color: black;
            &:hover {
                text-decoration: underline;
                color: #4da79b;
            }
        }
        
        }
    #routes{
        a {
            color: black;
            text-decoration: none;
            margin-right: 10px;

            &:hover {
                text-decoration: underline;
                color: #4da79b;
            }
        }
    }
  }
 
